@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
.header__left img {
  object-fit: contain;
  height: 80px;
}

.header {
  background-color: maroon;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left .material-icons{
  color: whitesmoke;
  padding-left: 5px;
  margin-left: 20px;
  margin-right: 5px;
}

.header__left span {
  padding: 10px;
  cursor: pointer;
}

.header__middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.material-icons {
  color: gray;
}

.header__middle input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 18px;
  background-color: transparent;
}

.header__right {
  display: flex;
  padding-right: 20px;
}

.header__right span {
  padding: 10px;
  cursor: pointer;
  color: whitesmoke;
}

/* Sidebar */
.sidebar {
  background-color: maroon;
  flex: 1;
  max-width: 300px;
  padding-right: 10px;
}

.sidebar__compose {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: gray;
  padding: 15px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar__compose span {
  margin-right: 5px;
}

.sidebar__compose .material-icons{
  color: maroon;
}

.sidebar button{
  color: maroon;
  font-weight:bold;
  font-size: 15px;
  /* margin-left: 100px; */
}

.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: whitesmoke;
}

.sidebarOption .material-icons {
  padding: 5px;
  color: whitesmoke;
}

.sidebarOption h3 {
  flex: 1;
  margin-left: 10px;
  margin-right: 3px;
  font-size: 18px;
  font-weight: 400;
}

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active .material-icons {
  background-color: #fcecec;
  color: maroon;
  font-weight: 800;
}

.sidebar__footer {
  display: flex;
  justify-content: center;
}

.sidebar__footerIcons .material-icons {
  margin: 7px;
  cursor: pointer;
}

/* main body */
.main__body {
  display: flex;
  height: 100vh;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

/* email list */
.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList__settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid maroon;
  background-color: white;
  z-index: 999;
  padding: 8px;
}

.emailList__settingsLeft {
  display: flex;
  align-items: center;
}

.emailList__settings .material-icons {
  margin: 5px;
  cursor: pointer;
}

.section {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: grey;
  border-width: 0;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
}

.section__selected {
  background-color: whitesmoke;
  border-width: 3px;
  color: red;
  border-bottom: 3px solid red;
}

.section__selected .material-icons {
  color: red;
}

.section:hover {
  background-color: whitesmoke;
  border-width: 3px;
}

.section h4 {
  font-size: 14px;
  margin-left: 15px;
}

.emailRow__options {
  display: flex;
  align-items: center;
}

.emailRow__options .material-icons,
input {
  margin: 5px;
}

.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
}

.emailRow:hover {
  border-top: 1px solid whitesmoke;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__message {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 13px;
}

.emailRow__message h4 {
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.emailRow__title {
  font-size: 13px;
  flex: 0.1;
}

.emailRow__time {
  padding-right: 15px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  padding-left: 5px;
}

.emailRow__description {
  font-weight: 400;
  color: gray;
}

/* Sending UI */

.sending-ui{
  display: flex;
  position: relative;
  align-items: center;
  flex: 1;
  flex-direction: column;
  z-index: 999;
  padding: 5px 5px;
  margin: 2px 2px;
  /* justify-content: space-between; */
  
}

.sending-ui .sending-to, .sending-ui .sending-subject{
  display: flex;
  align-items: center;
  border-bottom: 1px solid maroon;
  width: 100%;
  outline: none;
  font-size: medium;
  background-color: transparent;
  /* width: 600px; */
}

.sending-ui .sending-to input,.sending-ui .sending-subject input{
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 20px;
  background-color: transparent;
}

.sending-ui textarea{
  border:none;
  background-color: transparent;
  border-bottom: 1px solid maroon;
  resize: none;
  width: 1050px;
  height: 360px;
  word-wrap: break-word;
  overflow: auto;
  outline: none;
  padding: 10px;
  font-size: 20px;
}

.sending-buttons{
  /* display: flex;
  flex: 0.4;
  align-items: center; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

.sending-buttons input{
  margin: 5px;
  background-color: maroon;
  color: whitesmoke;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sending-buttons input:hover{
  background-color: blueviolet;
}

/* Viewing UI */

.viewdocumentui{
  display: flex;
  position: relative;
  align-items: center;
  flex: 1;
  flex-direction: column;
  z-index: 999;
  padding: 5px 5px;
  margin: 2px 2px;
}

.viewdocumentui .Viewing-to, .viewdocumentui .Viewing-subject{
  display: flex;
  align-items: center;
  border-bottom: 1px solid maroon;
  width: 100%;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.viewdocumentui .Viewing-to label, .viewdocumentui .Viewing-subject label{
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 20px;
  line-height:200%;
  padding-left: 5px;
  font-weight: bold;
  background-color: transparent;
}

.viewdocumentui .Viewing-message{
  display: flex;
  align-items: center;
  border-bottom: 1px solid maroon;
  width: 100%;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.Viewing-message label{
  border:none;
  background-color: transparent;
  /* border-bottom: 1px solid maroon; */
  resize: none;
  width: 1050px;
  height: 360px;
  word-wrap: break-word;
  overflow: auto;
  outline: none;
  padding: 10px;
  font-size: 20px;
}

.Viewing-buttons{
  /* display: flex;
  flex: 0.4;
  align-items: center; */
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

.Viewing-buttons input{
  margin: 5px;
  background-color: maroon;
  color: whitesmoke;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.Viewing-buttons input:hover{
  background-color: blueviolet;
}
